.Main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    width: 227px;
    height: 132px;
    font-family: "BPG ExtraSquare Mtavruli";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 1.25px;
    color: #f2b137;
    margin-bottom: 60px;
  }
}

.icon {
  width: 150px;
  height: 150px;
  color: white;
}
