$background-collor: #1a2a33;
$light-background-collor: #1f3641;
$yello-collor: #f2b137;
$click-yello-collor: #ffc860;
$blue-collor: #31c3bd;
$click-blue-collor: #65e9e4;
$dark-text-collor: #1a2a33;
$white-text-collor: #ffffff;

.main {
  width: 375px;
  height: 100vh;
  background-color: $background-collor;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h1 {
    font-family: "BPG Mrgvlovani Caps 2010";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    color: $yello-collor;
    margin-bottom: 100px;
  }
}
