$background-collor: #1a2a33;
$light-background-collor: #1f3641;
$yello-collor: #f2b137;
$click-yello-collor: #ffc860;
$yellow-button-shadow: #cc8b13;
$blue-collor: #31c3bd;
$click-blue-collor: #65e9e4;
$dark-text-collor: #1a2a33;
$white-text-collor: #ffffff;
$blue-button-shadow: #118c87;
.link {
  text-decoration: none;
}
.button {
  width: 288px;
  padding: 13px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background-color: $blue-collor;
  box-shadow: inset 0px -8px 0px $blue-button-shadow;
  border-radius: 15px;
  cursor: pointer;
  transition: box-shadow 0.5s;

  p {
    font-family: "BPG Mrgvlovani Caps 2010";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1.25px;
    color: $dark-text-collor;
  }
}

.button:hover {
  box-shadow: inset 0px 0px 0px $blue-button-shadow;
  background-color: $click-blue-collor;
}
